[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"aws-cdk.aws-ec2" = "*"
"aws-cdk.aws-iam" = "*"
"aws-cdk.aws-route53" = "*"
requests = "*"
boto3 = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
ipython = "*"
pytest = "*"

[requires]
python_version = "3.8"
